button, a[data-role=button] {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius	:2px;
	text-decoration	:none;
	border			:1px solid gainsboro;
	border-color	:rgba(0, 0, 0, .1);
	color			:#444 !important;	
	padding			:5px 10px;
	cursor			:pointer;
	color			:#222222;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
}

button:hover, a[data-role=button]:hover {
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#F1F1F1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#F1F1F1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#F1F1F1);
	background-image: -o-linear-gradient(top,#f8f8f8,#F1F1F1);
	background-image: linear-gradient(top,#f8f8f8,#F1F1F1);
	border			:1px solid #c6c6c6;
}

.google-blue, 
button.blue,
a[data-role=button].blue,
table thead tr th,
table tbody tr.focused td {
	background-color: #4D90FE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4D90FE,#4787ED);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
	border: 1px solid #3079ED;
	color: white !important;
}

button.blue:hover,
button.blue:active,
a[data-role=button].blue:hover,
a[data-role=button].blue:active {
	border-color: #2F5BB7;
	background-color: #357AE8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#357AE8));
	background-image: -webkit-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -moz-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -ms-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -o-linear-gradient(top,#4D90FE,#357AE8);
	background-image: linear-gradient(top,#4D90FE,#357AE8);	
}

.google-red,
button.red,
a[data-role=button].red {
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
	background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
	background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
	background-image: -o-linear-gradient(top,#DD4B39,#D14836);
	background-image: linear-gradient(top,#DD4B39,#D14836);
	border: 1px solid transparent;
	color: #fefefe !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

button.red:hover,
button.red:active,
a[data-role=button].red:
a[data-role=button].red:active {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background-color: #C53727;
	background-image: -webkit-linear-gradient(top,#DD4B39,#C53727);
	background-image: -moz-linear-gradient(top,#DD4B39,#C53727);
	background-image: -ms-linear-gradient(top,#DD4B39,#C53727);
	background-image: -o-linear-gradient(top,#DD4B39,#C53727);
	background-image: linear-gradient(top,#DD4B39,#C53727);
	border: 1px solid #B0281A;
	border-bottom-color: #AF301F;
}